@model eCommerce.Business.Commande

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Quantite</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LignesCommande)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produit.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>Prix total : @Html.DisplayFor(m => m.PrixTotal);</div>
@Html.ActionLink("Commander", "Create", "Commande")